<div class="content">
    <div class="text">
        <h2>{{text}}</h2>
        <p>Jūsų mašinos nr.: {{ carNr }}</p>
    </div>
   
    <div #mapWrapper id="map"></div>
    
    <div class="textBottom">
        <div *ngIf="!worker || error">
            <p>Įvyko klaida generuojant maršrutą. Bandykite iš naujo</p>
        </div>
        <div *ngIf="worker && !error">
            <p>Pas Jus važiuoja {{ worker.name }} {{ worker.phone }}</p>
        </div>
        <div *ngIf="worker && !error">
            <a class="btn btn-success" href="tel:{{worker.phone}}">Skambinti</a>
        </div>
        
        <div class="links">
            <a  [routerLink]="['/setLocation', carNr]">Pasirinkti kitą poziciją</a>
            <br />
            <a  routerLink="/identification">Registruoti naują automobilį</a>
        </div>
        
    </div>
   
</div>
